@font-face {
    font-family: Roboto;
    src: url("../webfonts/Roboto-Regular.ttf");
}

body{
    background: rgba(176,3,43,1);
    background: -moz-linear-gradient(left, rgba(176,3,43,1) 0%, rgba(166,3,41,1) 14%, rgba(146,2,36,1) 44%, rgba(112,0,26,1) 71%, rgba(112,0,26,1) 84%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(176,3,43,1)), color-stop(14%, rgba(166,3,41,1)), color-stop(44%, rgba(146,2,36,1)), color-stop(71%, rgba(112,0,26,1)), color-stop(84%, rgba(112,0,26,1)));
    background: -webkit-linear-gradient(left, rgba(176,3,43,1) 0%, rgba(166,3,41,1) 14%, rgba(146,2,36,1) 44%, rgba(112,0,26,1) 71%, rgba(112,0,26,1) 84%);
    background: -o-linear-gradient(left, rgba(176,3,43,1) 0%, rgba(166,3,41,1) 14%, rgba(146,2,36,1) 44%, rgba(112,0,26,1) 71%, rgba(112,0,26,1) 84%);
    background: -ms-linear-gradient(left, rgba(176,3,43,1) 0%, rgba(166,3,41,1) 14%, rgba(146,2,36,1) 44%, rgba(112,0,26,1) 71%, rgba(112,0,26,1) 84%);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
     overflow-x: hidden;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
.main{

    display: flex;
    min-height: 100vh;
    flex-direction: column;
      
}
.main-content{
    flex: 1 0 auto;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.header{
   /* border: 1px solid #000; */
}

#menu , .text-intro{
   /* background-color:  rgba(0, 0, 0, 0.3)*/
   /*border: 1px solid #000;*/
}
.menu-link{
    color:white;
    font-size: 1em;
    font-weight: bold;
    
   
}

.menu-link:hover , a.active  {
    color: orange;
    background-color: rgba(0, 0, 0, 0.3);
}

.text-intro p{
    color: white;
}

.fix-img{
    width: 100%;
    height: 42vh;
}

.footer-fix{
    font-size: 0.8em;
    width: 100%;
    padding: 10px 0;
   /* border: 1px solid #000;*/
    background-color: #fff;
    margin-top: 4em;
}
.footer-fix p{
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
}



.form-fix{
    background: #fff;
    padding: 2.5em 2em;
    border: 2px solid #000;
}
.btn-fix{
   
    padding-left:40px;
    padding-right: 40px;
}
.img-fix{
    border: 2px solid #000;
}
.link-color-fix{
   color:  #4388CC;
   font-size: 1.2em;
}
.link-color-fix:hover{
    color: #fff;
}
.nav-last-item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.input-fix-img{
    width:109px;
    height: 93px;
    cursor: pointer;
}
.fix-select-inline{
    width:160px;
}
.p-fix-size{
    font-size: 0.9em;
}
textarea.textarea-fix-lg{
    height: 16em;

}

iframe.frame-fix{
    width:800px; 
    height:900px;
}
.h1-fix{
    font-size: 1.5em;
    margin: 0;
}

.p-name-welcome{
    font-size: 1em;
   
}
.btn-fix-success{
    font-size: 0.8em;
    padding: 2px 4px;
}

/* de sm (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .h1-fix{
        font-size: 2em;
        margin: 0;
    }
   

 }

/* de MD (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .btn-fix-success{
        font-size: 1em;
        padding: 5px 10px
    }
 }

/* de LG (desktops, 992px and up)*/
@media (min-width: 992px) { 

 }

/* de XL , 1200px and up)*/
@media (min-width: 1200px) {  
    .h1-fix{
    
    } 
    .p-name-welcome{
        font-size: 1.5em;
    }

}